<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="assets/clapperboard.png" /> EzGames</a
    >
    <div class="d-flex align-items-center">
      <span class="align-middle"
        ><h6 class="mr-3">{{ this.dataService.user.email }}</h6></span
      >
      <button type="button" class="btn btn-danger" (click)="exit()">
        Exit
      </button>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row my-5 justify-content-center">
    <div class="col-3 m-2" *ngFor="let game of games">
      <div class="card h-100">
        <img [src]="game.image" class="card-img-top" style="height: 20vh" />
        <div class="card-body text-center">
          <h5 class="card-title">{{ game.name }}</h5>
        </div>
        <div class="card-footer text-center">
          <p class="card-text">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-file-arrow-down-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5z"
              />
            </svg>
            {{ game.downloads }}
          </p>
          <button
            type="button"
            class="btn btn-primary w-100"
            *ngIf="!dataService.user.games.includes(game._id)"
          >
            Get
          </button>
          <button
            type="button"
            class="btn btn-success w-100"
            *ngIf="dataService.user.games.includes(game._id)"
          >
            Download
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
