<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="assets/clapperboard.png" /> EzGames</a
    >
    <div class="d-flex">
      <input type="text" placeholder="Email" class="mx-1" />
      <input type="text" placeholder="Password" class="mx-1" />
      <button type="button" class="btn btn-success">Log in</button>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center" style="margin-top: 25vh">
    <div class="col-5 bg-light p-5">
      <h6>Email</h6>
      <input type="email" class="w-100" />
      <h6 class="mt-2">Password</h6>
      <input type="password" class="w-100" />
      <h6 class="mt-2">Confirm Password</h6>
      <input type="password" class="w-100" />
      <button type="button" class="btn btn-success w-100 mt-3">Sign in</button>
    </div>
  </div>
</div>
