<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img src="assets/clapperboard.png" /> EzGames</a
    >
    <div class="d-flex">
      <input
        type="email"
        placeholder="Email"
        class="mx-1"
        [(ngModel)]="loginEmail"
      />
      <input
        type="password"
        placeholder="Password"
        class="mx-1"
        [(ngModel)]="loginPassword"
      />
      <button type="button" class="btn btn-success" (click)="login()">
        Log in
      </button>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center" style="margin-top: 25vh">
    <div class="col-5 bg-light p-5">
      <h6>Email</h6>
      <input type="email" class="w-100" [(ngModel)]="signinEmail" />
      <h6 class="mt-2">Password</h6>
      <input type="password" class="w-100" [(ngModel)]="signinPassword" />
      <h6 class="mt-2">Confirm Password</h6>
      <input type="password" class="w-100" [(ngModel)]="signinConfirm" />
      <button
        type="button"
        class="btn btn-success w-100 mt-3"
        (click)="signin()"
      >
        Sign in
      </button>
    </div>
  </div>
</div>
